{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Event Details - Meetup!{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-primary" role="alert">{{ message }}</div>
    {% endfor %}
    <h3>{{ event.name }}</h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Event Name: {{ event.name }}</li>
        <li class="list-group-item">Date: {{ event.date.date() }}</li>
        <li class="list-group-item">Location: {{ event.location }}</li>
        <li class="list-group-item">Description: {{ event.description }}</li>
    </ul>
    <p></p>
    <h3>Member</h3>
    <ul class="list-group list-group-flush">
        {% for user in event.joined_user %}
        <li class="list-group-item">{{ user.username }}</li>
        {% endfor %}
    </ul>
    <p></p>
    <div>
        <a href="{{ url_for('meetup.joinevent', group_id=group.id, event_id=event.id) }}" class="btn btn-primary">Join this event</a>
    </div>
    <p></p>
    <h3>Comments</h3>
    <ul class="list-group list-group-flush">
        {% for comment in event.comment %}
        <li class="list-group-item">{{ user.filter_by(id=comment.user).one().username }}: {{ comment.body }}</li>
        {% endfor %}
    </ul>
    <form class="form-signin" method="POST" action="/meetup/group/{{ group.id }}/event/{{ event.id }} ">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.comment) }}
        <button class="tbn btn-lg btn-primary" type="submit">Submit</button>
    </form>
</div>
{% endblock %}