{% extends "base.html" %}

{% block title %}Meetup!{% endblock %}


{% block content %}
  <div class="container">
    <h2>Meetup!</h2>
    <div>
      <p>You can create groups and events to make plans to get together with friends!
      Register and create the group now!</p>
    <div>
    <hr>
    <div>
      <h4>Test the website!</h4>
      <p>These users are created for testing purpose. Go ahead to try!</p>
      <ul class="list-group list-group-flush"></ul>
        <li class="list-group-item">Username: User1 Password:123456789</li>
        <li class="list-group-item">Username: User2 Password:123456789</li>
      </ul>
    <div>
  </div>
{% endblock %}